ejemplo.json
{
  "name": "Asistente SaludSonrisa",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-bot",
        "options": {}
      },
      "id": "497913c9-1a01-44d8-9bca-b72b60117aa1",
      "name": "Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1600,
        4592
      ],
      "webhookId": "b55ab070-58cc-4b03-b54f-301167520ec0"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b65f2993-1952-4a2e-826d-613b0d2db57f",
      "name": "Preparar Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1424,
        4448
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook Evolution API').item.json.body.data.message.conversation }}",
        "options": {
          "systemMessage": "={{ $node[\"Obtener Configuración\"].json.bot_personality }}\n\nTu nombre oficial es: {{ $node[\"Obtener Configuración\"].json.bot_name }}",
          "maxIterations": 10
        }
      },
      "id": "116aa9ca-f4b6-43ff-ae0b-4097389a6019",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -944,
        4448
      ]
    },
    {
      "parameters": {
        "url": "https://clinicasaludsonrisa.com.ve/api/v1/bot/search-exams?q={q}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "q",
              "description": "Nombre del examen de laboratorio (Química sanguínea, Hematología, Orina, Heces, etc.). NO USAR para Rayos X (RX) ni Mamografías."
            }
          ]
        }
      },
      "id": "90ad3ccc-b1af-425e-8c65-d27d612d5a98",
      "name": "buscar_examenes",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        -416,
        4704
      ]
    },
    {
      "parameters": {
        "url": "https://clinicasaludsonrisa.com.ve/api/v1/bot/faqs?q={q}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "q",
              "description": "Ubicación, horarios, métodos de pago y TODO lo relacionado con Rayos X (RX), Mamografías y estudios de imagen."
            }
          ]
        }
      },
      "id": "e11eb96f-ea96-4ace-bfc7-211296d72a58",
      "name": "consultar_faqs",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        -736,
        4752
      ]
    },
    {
      "parameters": {
        "url": "https://clinicasaludsonrisa.com.ve/api/v1/bot/search-specialists?q={q}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "q",
              "description": "El nombre del médico o la especialidad a buscar (ej. pediatria, cardiologia, Perez)"
            }
          ]
        }
      },
      "id": "327669ff-f4b9-46a1-b807-bee7aead4f8a",
      "name": "consultar_especialistas",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        -576,
        4720
      ]
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.sessionId || $json.body.data.key.remoteJid.split('@')[0] }}",
        "contextWindowLength": 3
      },
      "id": "83a2c821-8f81-40be-a26a-ba3bb6e758bd",
      "name": "AI Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        -912,
        4704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.output }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "6b9d962c-3dd9-4325-9875-5b3df6358a5e",
      "name": "Hay Respuesta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -592,
        4432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.bot_enabled }}",
              "value2": true
            }
          ]
        }
      },
      "id": "58e2ddd8-4b51-4518-b699-9e6b8485126a",
      "name": "Bot Habilitado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1088,
        4288
      ]
    },
    {
      "parameters": {
        "url": "https://clinicasaludsonrisa.com.ve/api/v1/bot/knowledge",
        "options": {}
      },
      "id": "f87bdb9d-50f1-4287-9804-ca3a94da9633",
      "name": "Obtener Configuración",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1264,
        4336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.106.5:8080/message/sendText/bot-saludsonrisa",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "saludsonrisa"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $node[\"Preparar Datos\"].json.body.data.key.remoteJid.split('@')[0] }}\",\n  \"text\": {{ JSON.stringify($json.output) }},\n  \"delay\": 1200\n}\n",
        "options": {}
      },
      "id": "2f8d10b2-4754-4740-8a28-123adbaa321e",
      "name": "Enviar Respuesta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -352,
        4400
      ]
    },
    {
      "parameters": {
        "model": "deepseek-v3.1:671b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1088,
        4656
      ],
      "id": "60a6422e-7c53-4e1d-8e8c-2ecd8bec393d",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "n3M3huMYAXx9T7Qh",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook Evolution API": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.13.2",
            "content-length": "1750",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "178.104.106.5:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "bot-saludsonrisa",
            "data": {
              "key": {
                "remoteJid": "584144679693@s.whatsapp.net",
                "remoteJidAlt": "584144679693@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB0517AEB4E884FB4754E",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "Javier Alejandro Ponciano",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 91,
                      "1": 77,
                      "2": 45,
                      "3": 225,
                      "4": 151,
                      "5": 251,
                      "6": 182,
                      "7": 203,
                      "8": 129,
                      "9": 90
                    },
                    "senderTimestamp": {
                      "low": 1777193628,
                      "high": 0,
                      "unsigned": true
                    },
                    "senderAccountType": 0,
                    "receiverAccountType": 0,
                    "recipientKeyHash": {
                      "0": 95,
                      "1": 192,
                      "2": 49,
                      "3": 201,
                      "4": 36,
                      "5": 245,
                      "6": 39,
                      "7": 210,
                      "8": 224,
                      "9": 216
                    },
                    "recipientTimestamp": {
                      "low": 1776786853,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 209,
                    "1": 175,
                    "2": 124,
                    "3": 34,
                    "4": 185,
                    "5": 110,
                    "6": 252,
                    "7": 4,
                    "8": 126,
                    "9": 218,
                    "10": 164,
                    "11": 219,
                    "12": 9,
                    "13": 82,
                    "14": 33,
                    "15": 209,
                    "16": 23,
                    "17": 134,
                    "18": 81,
                    "19": 243,
                    "20": 142,
                    "21": 65,
                    "22": 59,
                    "23": 149,
                    "24": 92,
                    "25": 152,
                    "26": 109,
                    "27": 191,
                    "28": 164,
                    "29": 188,
                    "30": 53,
                    "31": 92
                  },
                  "limitSharingV2": {
                    "trigger": 0,
                    "initiatedByMe": false
                  }
                },
                "conversation": "prueba de embarazo?"
              },
              "contextInfo": {
                "mentionedJid": [],
                "groupMentions": [],
                "statusAttributions": [],
                "ephemeralSettingTimestamp": {
                  "low": 1777030784,
                  "high": 0,
                  "unsigned": false
                },
                "disappearingMode": {
                  "initiator": 0,
                  "trigger": 1,
                  "initiatedByMe": false
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1777203596,
              "instanceId": "3e0b67e0-2889-4547-8381-16e61758f62a",
              "source": "web"
            },
            "destination": "http://178.104.106.5:5678/webhook/whatsapp-bot",
            "date_time": "2026-04-26T08:39:56.361Z",
            "sender": "584120349427@s.whatsapp.net",
            "server_url": "http://178.104.106.5/evolution",
            "apikey": "saludsonrisa"
          },
          "webhookUrl": "http://178.104.106.5:5678/webhook/whatsapp-bot",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook Evolution API": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "Obtener Configuración",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Configuración": {
      "main": [
        [
          {
            "node": "Bot Habilitado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Habilitado?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_examenes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_faqs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_especialistas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Hay Respuesta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Respuesta?": {
      "main": [
        [
          {
            "node": "Enviar Respuesta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "6TkmtpUOsunzMZah",
    "timezone": "America/Caracas",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 2
  },
  "versionId": "70a4727d-41cb-4540-9ac1-7d0adf3e6828",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d46900db2a9dbc3e4e0a206fdb9a2ed9d31e358eee1dbd0d07e169d4c02e50b"
  },
  "id": "X33Nk5TP0VaAjAGI",
  "tags": []
}