Ventas Diarias Comida247.json
{
  "name": "Ventas Diarias Comida247",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "id": "3ca359db-5ac2-4f67-b4d6-504d92e2ff66",
      "name": "Schedule Trigger (11:50 PM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://comida.ventas247.com.ve/api.php?action=get_daily_report&token=optimus_n8n&business_id=1",
        "options": {}
      },
      "id": "522a5624-3403-4459-bbad-dc8e35c8be23",
      "name": "Obtener Datos de Ventas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres el asistente virtual de 'Los Calidad'. Genera un resumen ejecutivo, creativo y entusiasta para WhatsApp basado en estos datos del día:\n\n📅 Fecha: {{ $json.date }}\n💰 Ventas Totales: {{ $json.summary.revenue_usd }}$\n📦 Total Pedidos: {{ $json.summary.order_count }}\n🏆 Top Productos: {{ JSON.stringify($json.products) }}\n\nInstrucciones:\n1. Usa emojis adecuados.\n2. Destaca el producto más vendido.\n3. Termina con un mensaje motivador para el equipo.\n4. Mantén un tono profesional pero muy amable.\n5. El formato debe ser limpio para lectura en móvil.",
        "options": {}
      },
      "id": "gemini-ai-node",
      "name": "IA Resumen Creativo",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.106.5:8080/message/sendText/default",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "optimus"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"584144679693\",\n  \"text\": \"{{ $node[\\\"IA Resumen Creativo\\\"].json.text }}\",\n  \"delay\": 1200\n}\n",
        "options": {}
      },
      "id": "42ec4d07-42cb-4ea8-b8b9-d134ad5885cd",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        860,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger (11:50 PM)": {
      "main": [
        [
          {
            "node": "Obtener Datos de Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Datos de Ventas": {
      "main": [
        [
          {
            "node": "IA Resumen Creativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Resumen Creativo": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "4d46900db2a9dbc3e4e0a206fdb9a2ed9d31e358eee1dbd0d07e169d4c02e50b"
  }
}