Ventas Diarias Comida247_completo.json
{
  "name": "Ventas Diarias Comida247",
  "nodes": [
    {
      "parameters": {
        "url": "https://comida.ventas247.com.ve/api.php?action=get_daily_report&token=optimus_n8n&business_id=1",
        "options": {}
      },
      "id": "6adce21a-7110-4743-9107-a30f670e363b",
      "name": "Obtener Datos de Ventas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6160,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.106.5:8080/message/sendText/default",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "optimus"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"584144679693\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"delay\": 1200\n}\n",
        "options": {}
      },
      "id": "543b9641-2f51-4392-9513-7d609c58eae6",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6784,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres el asistente virtual de 'Los Calidad'. Genera un resumen ejecutivo y entusiasta para WhatsApp basado en estos datos de ventas de hoy:\\n\\n📅 *Fecha:* {{ $json.date }}\\n💰 *Ventas Totales:* {{ $json.summary.revenue_usd }}$\\n📦 *Total Pedidos:* {{ $json.summary.order_count }}\\n🏆 *Top Productos:* {{ JSON.stringify($json.products) }}\\n\\n\\n*Instrucciones MUY IMPORTANTES:* \\n1. Usa emojis adecuados.\\n2. Destaca el producto más vendido.\\n3. Termina con un mensaje motivador para el equipo.\\n4. Mantén un tono profesional pero muy amable.\\n5. El formato debe ser limpio para lectura en móvil.\\n6. PROHIBIDO incluir textos introductorios como 'Aquí tienes una propuesta' o 'Este es el resumen'. Comienza directamente con el mensaje final para WhatsApp."
      },
      "id": "7c2e2b4e-a913-4866-9b77-8904d05e58e9",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        6384,
        288
      ]
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "id": "a1fdffb6-f323-4854-b625-e3df9dd6796c",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        6336,
        496
      ],
      "credentials": {
        "ollamaApi": {
          "id": "n3M3huMYAXx9T7Qh",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "path": "generar-reporte-whatsapp",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "51aab2d6-daec-4667-8972-386f352a2d30",
      "name": "Webhook Manual",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        5920,
        464
      ],
      "webhookId": "0794df30-0a00-4658-bcb2-d2d152aaae33"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "63e137b2-6a7a-4650-ad25-22307807d1aa",
      "name": "Schedule Trigger (11:30 PM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        5920,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.summary.order_count }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "78787878-7878-7878-7878-787878787878",
      "name": "Verificar si hay ventas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6272,
        280
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Manual": {
      "main": [
        [
          {
            "node": "Obtener Datos de Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Datos de Ventas": {
      "main": [
        [
          {
            "node": "Verificar si hay ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar si hay ventas": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (11:30 PM)": {
      "main": [
        [
          {
            "node": "Obtener Datos de Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "6TkmtpUOsunzMZah",
    "timezone": "America/Caracas",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c2ebb1b5-0ce7-402d-93dd-b7c43b44a59f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d46900db2a9dbc3e4e0a206fdb9a2ed9d31e358eee1dbd0d07e169d4c02e50b"
  },
  "id": "CmyDl1OGLSnQtobS",
  "tags": []
}