Ventas Diarias Comida247.json
{
  "name": "Ventas Diarias Comida247",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "id": "5bf8ddaa-21f2-4a81-933b-b2d2cd4348ff",
      "name": "Schedule Trigger (11:50 PM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        3264,
        -320
      ]
    },
    {
      "parameters": {
        "url": "https://comida.ventas247.com.ve/api.php?action=get_daily_report&token=optimus_n8n&business_id=1",
        "options": {}
      },
      "id": "77ce52c8-acf5-409f-a090-8a2828a81abc",
      "name": "Obtener Datos de Ventas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3504,
        -304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.106.5:8080/message/sendText/default",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "optimus"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"584144679693\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"delay\": 1200\n}\n",
        "options": {}
      },
      "id": "993be11c-3639-4b89-bd18-18bc781dd547",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4128,
        -272
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres el asistente virtual de 'Los Calidad'. Genera un resumen ejecutivo y entusiasta para WhatsApp basado en estos datos de ventas de hoy:\\n\\n📅 *Fecha:* {{ $json.date }}\\n💰 *Ventas Totales:* {{ $json.summary.revenue_usd }}$\\n📦 *Total Pedidos:* {{ $json.summary.order_count }}\\n🏆 *Top Productos:* {{ JSON.stringify($json.products) }}\\n\\n\\n*Instrucciones MUY IMPORTANTES:* \\n1. Usa emojis adecuados.\\n2. Destaca el producto más vendido.\\n3. Termina con un mensaje motivador para el equipo.\\n4. Mantén un tono profesional pero muy amable.\\n5. El formato debe ser limpio para lectura en móvil.\\n6. PROHIBIDO incluir textos introductorios como 'Aquí tienes una propuesta' o 'Este es el resumen'. Comienza directamente con el mensaje final para WhatsApp."
      },
      "id": "110a5acc-5c3c-41a6-a785-6a67e41df160",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        3728,
        -288
      ]
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "id": "3dd7161b-0047-4a56-a72a-4af8c6ba6acf",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        3680,
        -80
      ],
      "credentials": {
        "ollamaApi": {
          "id": "n3M3huMYAXx9T7Qh",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (11:50 PM)": {
      "main": [
        [
          {
            "node": "Obtener Datos de Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Datos de Ventas": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2ee20b48-0e7b-4f59-bd70-2b0b5c07a93d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d46900db2a9dbc3e4e0a206fdb9a2ed9d31e358eee1dbd0d07e169d4c02e50b"
  },
  "id": "CmyDl1OGLSnQtobS",
  "tags": []
}